@model GerenciamentoConsultas.Models.CadastroExameViewModel

@{
    ViewBag.Title = "Cadastro de Exame";
}

<h2>Cadastro de Exame</h2>
<hr />

@using (Html.BeginForm("Create", "CadastroExame", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(m => m.NomeExame, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.NomeExame, new { @class = "form-control", @placeholder = "Nome do Exame" })
                @Html.ValidationMessageFor(m => m.NomeExame, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Observacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Observacao, new { @class = "form-control", @placeholder = "Observação" })
                @Html.ValidationMessageFor(m => m.Observacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TipoExameId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.TipoExameId, new SelectList(ViewBag.TipoExames, "TipoExameId", "NmTipoExame"),
               "Selecione um tipo", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TipoExameId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

<div></div>