@model GerenciamentoConsultas.Models.MarcarConsultaViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Marcar Consulta</h2>
@using (Html.BeginForm("Create", "MarcarConsulta", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(m => m.DataConsulta, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DataConsulta,
                               new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DataConsulta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PacienteId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.PacienteId,
                               new SelectList(ViewBag.Pacientes, "PacienteId", "NomePaciente"), "Selecione o Paciente",
                               new {@class="form-control"})
            @Html.ValidationMessageFor(m => m.TipoExameId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TipoExameId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.TipoExameId,
                               new SelectList(ViewBag.TipoExames, "TipoExameId", "NmTipoExame"), "Selecione o Tipo de Exame",
                               new {@class="form-control"})
            @Html.ValidationMessageFor(m => m.TipoExameId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Marcar" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>

</div>
}
